body {
    background-color: gray;
}

.quadros {
    background-color: gray;
    padding: 100px;
    display: flex;
    justify-content: center;
    
}

.figura {
    background-color: #fff;
    padding: 10px;
    margin: 20px;
    box-shadow: 20px 30px 20px ;
    border: solid 10px black;
}

.figura img {
    width: 250px;
}

.informacoes {
    color: #000000;
    text-align: center;
    font-size: 15px;
}


